@import url("https://fonts.googleapis.com/css2?family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ccc;
}

body {
  font-family: "Lora", "Playfair Display", "Forum", "Lato", "Noto Sans KR";
}

header {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  z-index: 10;
  animation: logo 2s ease-out;
}
header .inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 100px;
  position: relative;
}
header .inner .header_menu {
  width: 440px;
  height: 100%;
  position: relative;
}
header .inner .header_menu > ul {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
header .inner .header_menu > ul li {
  position: relative;
  width: 110px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
header .inner .header_menu > ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Lora", "Forum", "Lato";
  font-weight: 400;
  font-size: 17px;
  color: #000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
header .inner .header_menu > ul li .sub_menu {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}
header .inner .header_menu > ul li .sub_menu li {
  line-height: 50px;
  text-align: center;
  transition: all 0.1s;
}
header .inner .header_menu > ul li .sub_menu li a {
  font-size: 14px;
  color: #000;
  font-family: "Lora";
}
header .inner .header_menu > ul li .sub_menu li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
header .inner .header_menu > ul li .sub_menu li:hover a {
  color: #ccc;
}
header .inner .header_menu > ul li:hover a {
  color: #666;
}
header .inner .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 110px;
  z-index: 5;
}
header .inner .logo a {
  width: 100%;
}
header .inner .logo a img {
  width: 100%;
}
header .inner .header_sns {
  position: absolute;
  top: 50%;
  right: 130px;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}
header .inner .header_sns li a {
  font-size: 20px;
  color: #000;
  transition: all 0.1s;
}
header .inner .header_sns li:hover a {
  color: #666;
}
header .inner #header_left_btn {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  display: none;
}
header .inner #header_left_btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
header .inner #header_left_btn span {
  position: absolute;
  text-indent: -999999px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  top: 50%;
  margin-top: -2px;
  transition: all 0.5s;
}
header .inner #header_left_btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 1px;
  left: 0;
  transition: all 0.5s;
}
header .inner #header_left_btn.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
header .inner #header_left_btn.on span {
  transform: translatex(-100%);
  opacity: 0;
}
header .inner #header_left_btn.on:after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
header .inner #left_btn_menu {
  display: none;
  width: 300px;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 100px;
  left: -300px;
  transition: all 1s;
}
header .inner #left_btn_menu > ul {
  width: 100%;
  height: 100%;
  text-indent: 30px;
}
header .inner #left_btn_menu > ul li {
  width: 100%;
  line-height: 80px;
}
header .inner #left_btn_menu > ul li a {
  width: 100%;
  height: 100%;
  display: block;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  font-family: "Lora", "Playfair Display", "Forum", "Lato";
  transition: all 0.1s;
}
header .inner #left_btn_menu > ul li:hover .chevron_btn::before {
  color: #eee;
}
header .inner #left_btn_menu > ul li:hover a {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
header .inner #left_btn_menu > ul .btn_fold {
  display: flex;
  flex-wrap: wrap;
}
header .inner #left_btn_menu > ul .btn_fold .chevron_btn::before {
  content: "\f078";
  font-family: fontAwesome;
  position: absolute;
  right: 27px;
  color: #000;
}
header .inner #left_btn_menu > ul .btn_fold .chevron_btn.hide::before {
  content: "\f077";
  font-family: fontAwesome;
  position: absolute;
  right: 27px;
  color: #000;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu {
  width: 300px;
  display: none;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu li {
  height: 80px;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu li a {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  font-family: "Lora";
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu li:hover a {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu.on {
  display: block;
}
header .inner #left_btn_menu.on {
  left: 0;
}

main {
  width: 100%;
  position: relative;
}
main .main_page {
  width: 100%;
  height: 100vh;
  position: relative;
}
main .main_page #main_page_scroll {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}
main .main_page #main_page_scroll:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: url(../img/main\ page/mainpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  animation: texture 1.2s cubic-bezier(0.37, 0.57, 0.58, 0.76);
}
main .main_page #main_page_scroll::after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: url(../img/logo/mainpage_logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  animation: logo 2s ease-out;
}
main .main_page #main_page_scroll .scroll_btn {
  width: 67px;
  height: 95px;
  position: absolute;
  bottom: 40px;
  left: 48%;
  z-index: 15;
  animation: btn 1.5s 0.5s infinite alternate;
  cursor: pointer;
  opacity: 0;
}
main .main_page #main_page_scroll .scroll_btn img {
  width: 100%;
  height: 100%;
}
main .main_page #main_page_scroll .scroll_btn:hover {
  animation-play-state: paused;
}
main .main_slide {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 200px;
}
main .main_slide #main_slide_left {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
main .main_slide #main_slide_left .main_slide_pics .swiper-slide {
  width: 100%;
  height: 100%;
}
main .main_slide #main_slide_left .main_slide_pics .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .main_slide #main_slide_left .swiper-button-next,
main .main_slide #main_slide_left .swiper-button-prev {
  width: auto;
  height: auto;
}
main .main_slide #main_slide_left .swiper-button-next::after,
main .main_slide #main_slide_left .swiper-button-prev::after {
  display: none;
}
main .main_slide #main_slide_left .swiper-button-next i,
main .main_slide #main_slide_left .swiper-button-prev i {
  color: #873632;
  font-size: 27px;
}
main .main_slide #main_slide_right {
  width: 50%;
  height: 100%;
  position: relative;
}
main .main_slide #main_slide_right #right_slide_wrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, 50%);
}
main .main_slide #main_slide_right #right_slide_wrapper .right_slide_pics li {
  position: absolute;
  width: 100%;
  height: 100%;
}
main .main_slide #main_slide_right #right_slide_wrapper .right_slide_pics li img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
main .main_product {
  width: 100%;
  height: 500px;
  margin-bottom: 200px;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
}
main .main_product #main_product_best {
  padding: 0px 100px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
main .main_product #main_product_best h3 {
  text-align: center;
  font-family: "Lora";
  font-weight: 500;
  font-size: 27px;
  font-style: italic;
  color: #000;
  margin-bottom: 25px;
}
main .main_product #main_product_best ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main_product #main_product_best ul li {
  width: 350px;
  height: 100%;
  margin: 10px;
}
main .main_product #main_product_best ul li a {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}
main .main_product #main_product_best ul li a .img_wrap {
  width: 100%;
  height: 350px;
  position: relative;
  margin-bottom: 20px;
  pointer-events: auto;
}
main .main_product #main_product_best ul li a .img_wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #ddd;
}
main .main_product #main_product_best ul li a .img_wrap .products {
  transition: all 0.2s;
}
main .main_product #main_product_best ul li a .img_wrap .colors {
  opacity: 0;
  transition: all 0.2s;
}
main .main_product #main_product_best ul li a .img_wrap:hover .colors {
  opacity: 1;
}
main .main_product #main_product_best ul li a .img_wrap:hover .products {
  opacity: 0;
}
main .main_product #main_product_best ul li a .info {
  width: 100%;
  height: 50px;
  text-align: center;
}
main .main_product #main_product_best ul li a .info p {
  pointer-events: auto;
  font: 15px/1 "Noto Sans KR";
  color: #000;
}
main .main_product #main_product_best ul li a .info span {
  pointer-events: auto;
  font: 13px/35px "Noto Sans KR";
  color: #333;
}
main .main_product.on {
  opacity: 1;
  transform: translateY(0px);
}
main .main_tabmenu {
  width: 100%;
  height: 500px;
  margin-bottom: 350px;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
}
main .main_tabmenu #main_tab_new {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
}
main .main_tabmenu #main_tab_new #tab_title h3 {
  text-align: center;
  font-family: "Lora";
  font-weight: 500;
  font-size: 27px;
  font-style: italic;
  color: #000;
  margin-bottom: 40px;
}
main .main_tabmenu #main_tab_new #tab_title > ul {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: -1px;
  position: relative;
  z-index: 5;
}
main .main_tabmenu #main_tab_new #tab_title > ul li {
  width: 30%;
  height: 100%;
  border: 1px solid #aaa;
  text-align: center;
  cursor: pointer;
  font: 500 16px/50px "Lato";
  color: #000;
  border-bottom: none;
}
main .main_tabmenu #main_tab_new #tab_title > ul li.active {
  background-color: #fff;
}
main .main_tabmenu #main_tab_new > ul {
  position: absolute;
  width: 1500px;
  height: 100%;
  padding: 50px 70px;
  display: flex;
  gap: 20px;
}
main .main_tabmenu #main_tab_new > ul > li {
  display: none;
  width: 320px;
  height: 100%;
}
main .main_tabmenu #main_tab_new > ul > li a {
  width: 100%;
  height: 100%;
  display: block;
  cursor: auto;
}
main .main_tabmenu #main_tab_new > ul > li a .tab_img {
  width: 100%;
  height: 320px;
  margin-bottom: 20px;
  position: relative;
}
main .main_tabmenu #main_tab_new > ul > li a .tab_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  cursor: pointer;
}
main .main_tabmenu #main_tab_new > ul > li a .tab_img .products {
  transition: all 0.2s;
}
main .main_tabmenu #main_tab_new > ul > li a .tab_img .colors {
  opacity: 0;
  transition: all 0.2s;
}
main .main_tabmenu #main_tab_new > ul > li a .tab_img:hover .colors {
  opacity: 1;
}
main .main_tabmenu #main_tab_new > ul > li a .tab_img:hover .products {
  opacity: 0;
}
main .main_tabmenu #main_tab_new > ul > li a .tab_text {
  width: 100%;
  height: 50px;
  text-align: center;
}
main .main_tabmenu #main_tab_new > ul > li a .tab_text p {
  font: 14px/1 "Noto Sans KR";
  color: #000;
  cursor: pointer;
}
main .main_tabmenu #main_tab_new > ul > li a .tab_text span {
  font: 13px/35px "Noto Sans KR";
  color: #333;
  cursor: pointer;
}
main .main_tabmenu #main_tab_new > ul.active {
  border: 1px solid #aaa;
  z-index: 1;
}
main .main_tabmenu #main_tab_new > ul.active li {
  display: block;
}
main .main_tabmenu.on {
  opacity: 1;
  transform: translateY(0px);
}
main .main_contact {
  opacity: 0;
  width: 100%;
  height: 100%;
}
main .main_contact h3 {
  text-align: center;
  font-family: "Lora";
  font-weight: 500;
  font-size: 27px;
  font-style: italic;
  color: #000;
  margin-bottom: 80px;
}
main .main_contact .main_contact_wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
main .main_contact .main_contact_wrap #contact_left {
  width: 100%;
  position: relative;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_img {
  position: absolute;
  left: 70px;
  transform: translateX(0px);
  width: 750px;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_img img {
  width: 100%;
  height: 100%;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text {
  width: 100%;
  padding: 90px 0px;
  position: relative;
  transform: translate(125px, 395px);
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dt {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 340px;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dt:nth-of-type(1) {
  right: 300px;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dt:nth-of-type(2) {
  right: 250px;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dt:nth-of-type(3) {
  right: 200px;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dt a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font: bold 18px/35px "Nanum Gothic";
  color: #4f493f;
  background-color: #ece7e2;
  border-radius: 50%;
  transition: all 0.3s;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dt.on a {
  background-color: #4f493f;
  color: #ece7e2;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dd {
  text-align: center;
  font: bold 24px/1.7 "Nanum Gothic";
  color: #000;
  display: none;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dd span {
  font: bold 25px/2;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dd a {
  font: bold 20px/2 "Nanum Gothic";
  color: #697e50;
  transition: all 0.2s;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dd.on {
  display: block;
}
main .main_contact .main_contact_wrap #contact_left .contact_left_text dd:hover a {
  color: #c3ca92;
}
main .main_contact .main_contact_wrap #contact_right .contact_right_img {
  width: 750px;
  height: 100%;
}
main .main_contact .main_contact_wrap #contact_right .contact_right_img img {
  width: 100%;
  height: 100%;
}
main .main_contact.on {
  opacity: 1;
}
main .main_contact.on .main_contact_wrap #contact_left {
  animation: contact 1.5s linear;
}
main .main_contact.on .main_contact_wrap #contact_right {
  animation: contact2 1.5s linear;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #444929;
}
footer .inner {
  width: 100%;
  height: 250px;
  padding: 0px 100px;
  position: relative;
}
footer .inner .footer_info {
  float: left;
}
footer .inner .footer_info .footer_info_logo a {
  position: absolute;
  top: 40px;
}
footer .inner .footer_info .footer_info_logo a img {
  width: 130px;
  height: 45px;
}
footer .inner .footer_info .footer_info_terms {
  position: absolute;
  bottom: 40px;
}
footer .inner .footer_info .footer_info_terms p {
  font: 12px/1.4 "Lato", "Noto Sans KR";
  color: #f2e8d5;
}
footer .inner .footer_sns {
  float: right;
  margin-top: 40px;
}
footer .inner .footer_sns ul:nth-of-type(1) {
  height: 37px;
  color: #fff;
  font: 600 15px/37px "Lora";
}
footer .inner .footer_sns ul li a {
  display: block;
  height: 23px;
  color: #fff;
  font: normal 14px/23px "Lora";
}
footer .inner .footer_text {
  float: right;
  margin-top: 40px;
  margin-right: 80px;
}
footer .inner .footer_text ul li {
  height: 23px;
  color: #fff;
  font: normal 14px/23px "Lora", "Noto Sans KR";
}
footer .inner .footer_text ul .name {
  height: 37px;
  color: #fff;
  font: 600 16px/37px "Lora";
}
footer .inner:after {
  content: "";
  display: block;
  clear: both;
}

@keyframes texture {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes logo {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
@keyframes btn {
  0% {
    opacity: 0.1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes contact {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes contact2 {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  header .inner .header_menu {
    display: none;
  }
  header .inner .logo a img {
    width: 80%;
  }
  header .inner .header_sns {
    right: 35px;
    gap: 15px;
  }
  header .inner .header_sns li a {
    font-size: 18px;
  }
  header .inner #header_left_btn {
    display: block;
  }
  header .inner #left_btn_menu {
    display: block;
  }
  main .main_page #main_page_scroll::before {
    background-image: url(../img/main\ page/mainpage_mo.png);
  }
  main .main_page #main_page_scroll::after {
    background-size: contain;
  }
}

/*# sourceMappingURL=style.css.map */
