@import url("https://fonts.googleapis.com/css2?family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ccc;
}

body {
  font-family: "Forum", "Lato", "Noto Sans KR";
}

header {
  width: 100%;
  height: 100px;
  background-color: #ddd;
}
header .inner {
  height: 100%;
  margin: 0 auto;
  padding: 0px 100px;
  position: relative;
}
header .inner .header_menu {
  width: 400px;
  height: 100%;
  position: relative;
}
header .inner .header_menu > ul {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
header .inner .header_menu > ul li {
  position: relative;
  width: 100px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
header .inner .header_menu > ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Forum", "Lato";
  font-size: 17px;
  color: #000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
header .inner .header_menu > ul li .sub_menu {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ddd;
  display: none;
}
header .inner .header_menu > ul li .sub_menu li {
  line-height: 50px;
  text-align: center;
  transition: all 0.1s;
  font-family: "Forum", "Lato";
}
header .inner .header_menu > ul li .sub_menu li a {
  font-size: 14px;
  color: #000;
}
header .inner .header_menu > ul li .sub_menu li:hover {
  background-color: #333;
}
header .inner .header_menu > ul li .sub_menu li:hover a {
  color: #ddd;
}
header .inner .header_menu > ul li:hover a {
  color: #aaa;
}
header .inner .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 120px;
  z-index: 5;
}
header .inner .logo a {
  width: 100%;
}
header .inner .logo a img {
  width: 100%;
}
header .inner .header_sns {
  position: absolute;
  top: 50%;
  right: 130px;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}
header .inner .header_sns li a {
  font-size: 20px;
  color: #000;
  transition: all 0.2s;
}
header .inner .header_sns li:hover a {
  color: #ccc;
}
header .inner #header_left_btn {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  display: none;
}
header .inner #header_left_btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
header .inner #header_left_btn span {
  position: absolute;
  text-indent: -999999px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  top: 50%;
  margin-top: -2px;
  transition: all 0.5s;
}
header .inner #header_left_btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 1px;
  left: 0;
  transition: all 0.5s;
}
header .inner #header_left_btn.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
header .inner #header_left_btn.on span {
  transform: translatex(-100%);
  opacity: 0;
}
header .inner #header_left_btn.on:after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
header .inner #left_btn_menu {
  display: none;
  width: 300px;
  height: 90vh;
  background-color: #ddd;
  position: fixed;
  top: 100px;
  left: -300px;
  transition: all 1s;
}
header .inner #left_btn_menu > ul {
  width: 100%;
  height: 100%;
  text-indent: 30px;
}
header .inner #left_btn_menu > ul li {
  width: 100%;
  line-height: 80px;
}
header .inner #left_btn_menu > ul li a {
  width: 100%;
  height: 100%;
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  font-family: "Forum", "Lato";
  transition: all 0.1s;
}
header .inner #left_btn_menu > ul li:hover .chevron_btn::before {
  color: #ddd;
}
header .inner #left_btn_menu > ul li:hover a {
  background-color: #333;
  color: #ddd;
}
header .inner #left_btn_menu > ul .btn_fold {
  display: flex;
  flex-wrap: wrap;
}
header .inner #left_btn_menu > ul .btn_fold .chevron_btn::before {
  content: "\f078";
  font-family: fontAwesome;
  position: absolute;
  right: 27px;
  color: #333;
}
header .inner #left_btn_menu > ul .btn_fold .chevron_btn.hide::before {
  content: "\f077";
  font-family: fontAwesome;
  position: absolute;
  right: 27px;
  color: #333;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu {
  width: 300px;
  display: none;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu li {
  height: 80px;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu li a {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  font-family: "Forum", "Lato";
  background-color: #eee;
  color: #333;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu li:hover a {
  background-color: #333;
  color: #eee;
}
header .inner #left_btn_menu > ul .btn_fold .btn_sub_menu.on {
  display: block;
}
header .inner #left_btn_menu.on {
  left: 0;
}

@media screen and (max-width: 1000px) {
  header .inner .header_menu {
    display: none;
  }
  header .inner .logo a img {
    width: 80%;
  }
  header .inner .header_sns {
    right: 35px;
    gap: 15px;
  }
  header .inner .header_sns li a {
    font-size: 18px;
  }
  header .inner #header_left_btn {
    display: block;
  }
  header .inner #left_btn_menu {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
