@charset "utf-8";
@import './sub/sub_page';
@import './common/reset';
@import './common/header';
@import './common/footer';

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


main {
	width: 100%;
	position: relative;
	.main_page {
		width: 100%;
		height: 100vh;
		position: relative;
		#main_page_scroll {
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0px;
			left: 0px;
			&:before {
				width: 100%;
				height: 100%;
				content: '';
				display: block;
				background-image: url(../img/main\ page/mainpage.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
				bottom: 0px;
				left: 0px;
				opacity: 0.9;
				animation: texture 1.2s cubic-bezier(0.37, 0.57, 0.58, 0.76);
			}
			&::after {
				width: 100%;
				height: 100%;
				content: '';
				display: block;
				background-image: url(../img/logo/mainpage_logo.svg);
				background-repeat: no-repeat;
				background-position: center center;
				position: absolute;
				top: 0px;
				left: 50%;
				transform: translateX(-50%);
				background-size: cover;
				animation: logo 2s ease-out;
			}
			.scroll_btn {
				display: block;
				width: 67px;
				height: 95px;
				position: absolute;
				bottom: 40px;
				left: 48%;
				z-index: 15;
				animation: btn 1.5s 0.5s infinite alternate;
				cursor: pointer;
				opacity: 0;
				img {
					width: 100%;
					height: 100%;
				}
				&:hover {
					animation-play-state: paused;
				}
			}
		}
	}
	.main_slide {
		width: 100%;
		height: auto;
		display: flex;
		margin-bottom: 200px;
		#main_slide_left {
			width: 50%;
			height: 100%;
			position: relative;
			overflow: hidden;
			.main_slide_pics {
				.swiper-slide {
					width: 100%;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
			}
			.swiper-button-next,
			.swiper-button-prev {
				// width: auto;
				// height: auto;
				&::after {
					display: none;
				}
				// i {
				// 	color: #873632;
				// 	font-size: 27px;
				// }
			}
			.swiper-button-next {
				background: url(../img/자산8.png) no-repeat;
				background-size: 100%;
				background-position: center;
			  }
			  
			  .swiper-button-prev {
				background: url(../img/자산9.png) no-repeat;
				background-size: 100%;
				background-position: center;
			  }
			
		}
		#main_slide_right {
			display: block;
			width: 50%;
			height: 100%;
			position: relative;
			#right_slide_wrapper {
				width: 500px;
				height: 500px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-60%, 50%);
				.right_slide_pics {
					li {
						position: absolute;
						width: 100%;
						height: 100%;
						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
	.main_product {
		width: 100%;
		height: 500px;
		margin-bottom: 200px;
		opacity: 0;
		transform: translateY(100px);
		transition: all 1s;
		#main_product_best {
			padding: 0px 100px;
			width: 100%;
			height: 100%;
			margin: 0px auto;
			h3 {
				text-align: center;
				font-family: 'Lora';
				font-weight: 500;
				font-size: 27px;
				font-style: italic;
				color: #444929;
				margin-bottom: 25px;
			}
			ul {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				li {
					width: 350px;
					height: 100%;
					margin: 10px;
					a {
						width: 100%;
						height: 100%;
						display: block;
						pointer-events: none;
						.img_wrap {
							width: 100%;
							height: 350px;
							position: relative;
							margin-bottom: 20px;
							pointer-events: auto;
							img {
								position: absolute;
								width: 100%;
								height: 100%;
								object-fit: cover;
								border: 1px solid #ddd;
							}
							.products {
								transition: all 0.2s;
							}
							.colors {
								opacity: 0;
								transition: all 0.2s;
							}
							&:hover {
								.colors {
									opacity: 1;
								}
								.products {
									opacity: 0;
								}
							}
						}
						.info {
							width: 100%;
							height: 50px;
							text-align: center;
							p {
								pointer-events: auto;
								font: 15px/1 'Noto Sans KR';
								color: #000;
							}
							span {
								pointer-events: auto;
								font: 13px/35px 'Noto Sans KR';
								color: #333;
							}
						}
					}
				}
			}
		}
		&.on {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	.main_tabmenu {
		width: 100%;
		height: 500px;
		margin-bottom: 350px;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition: all 1s;
		#main_tab_new {
			width: 1460px;
			height: 100%;
			margin: 0 auto;
			#tab_title {
				h3 {
					text-align: center;
					font-family: 'Lora';
					font-weight: 500;
					font-size: 27px;
					font-style: italic;
					color: #444929;
					margin-bottom: 40px;
				}
				> ul {
					width: 30%;
					height: 50px;
					display: flex;
					justify-content: center;
					gap: 10px;
					margin-bottom: -1px;
					position: relative;
					z-index: 5;
					li {
						width: 30%;
						height: 100%;
						border: 1px solid #aaa;
						text-align: center;
						cursor: pointer;
						font-weight: 500;
						font-size: 16px;
						line-height: 50px;
						font-family: 'Lato';
						color: #000;
						border-bottom: none;
						&.active {
							background-color: #fff;
						}
					}
				}
			}
			> ul {
				position: absolute;
				width: 1460px;
				height: 100%;
				padding: 50px 70px;
				display: flex;
				gap: 20px;
				> li {
					display: none;
					width: 320px;
					height: 100%;
					a {
						width: 100%;
						height: 100%;
						display: block;
						cursor: auto;
						.tab_img {
							width: 100%;
							height: 320px;
							margin-bottom: 20px;
							position: relative;
							img {
								position: absolute;
								width: 100%;
								height: 100%;
								border: 1px solid #ddd;
								cursor: pointer;
							}
							.products {
								transition: all 0.2s;
							}
							.colors {
								opacity: 0;
								transition: all 0.2s;
							}
							&:hover {
								.colors {
									opacity: 1;
								}
								.products {
									opacity: 0;
								}
							}
						}
						.tab_text {
							width: 100%;
							height: 50px;
							text-align: center;
							p {
								font-size: 14px;
								line-height: 1;
								font-family: 'Noto Sans KR';
								color: #000;
								cursor: pointer;
							}
							span {
								font-size: 13px;
								line-height: 35px;
								font-family: 'Noto Sans KR';
								color: #333;
								cursor: pointer;
							}
						}
					}
				}
				&.active {
					border: 1px solid #aaa;
					z-index: 1;
					li {
						display: block;
					}
				}
			}
		}
		&.on {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	.main_contact {
		opacity: 0;
		width: 100%;
		height: 100%;
		h3 {
			text-align: center;
			font-family: 'Lora';
			font-weight: 500;
			font-size: 27px;
			font-style: italic;
			color: #444929;
			margin-bottom: 80px;
		}
		.main_contact_wrap {
			width: 100%;
			height: 100%;
			display: flex;
			#contact_left {
				width: 100%;
				position: relative;
				.contact_left_img {
					position: absolute;
					left: 70px;
					transform: translateX(0px);
					width: 750px;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.contact_left_text {
					width: 100%;
					padding: 90px 0px;
					position: relative;
					transform: translate(125px, 395px);
					dt {
						width: 35px;
						height: 40px;
						position: absolute;
						top: 340px;

						&:nth-of-type(1) {
							right: 300px;
						}
						&:nth-of-type(2) {
							right: 250px;
						}
						&:nth-of-type(3) {
							right: 200px;
						}
						a {
							display: block;
							width: 100%;
							height: 100%;
							text-align: center;
							font: normal 18px/35px 'Noto Sans KR';
							color: #000;
							border: 1px solid transparent;
							transition: all 0.3s;
						}
						&.on {
							a {
								color: #000;
								border: 1px solid #666;
							}
						}
					}
					dd {
						text-align: center;
						font: bold 24px/1.7 'Noto Sans KR';
						color: #000;
						display: none;

						span {
							font: bold 25px/2;
						}
						a {
							font: bold 20px/2 'Noto Sans KR';
							color: #697e50;
							transition: all 0.2s;
						}
						&.on {
							display: block;
						}
						&:hover {
							a {
								color: #c3ca92;
							}
						}
					}
				}
			}
			#contact_right {
				.contact_right_img {
					width: 750px;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		&.on {
			opacity: 1;
			.main_contact_wrap {
				#contact_left {
					animation: contact 1.5s linear;
				}
				#contact_right {
					animation: contact2 1.5s linear;
				}
			}
		}
	}
}

@keyframes texture {
	0% {
		transform: translateY(200px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes logo {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
}
@keyframes btn {
	0% {
		opacity: 0.1;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes contact {
	0% {
		transform: translateX(-500px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes contact2 {
	0% {
		transform: translateX(500px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@media screen and (max-width: 1000px) {
	main {
		.main_page {
			#main_page_scroll {
				&::before {
					background-image: url(../img/main\ page/mainpage_mo.png);
					opacity: 0.9;
				}
				&::after {
					top: 7%;
					background-size: contain;
				}
				.scroll_btn {
					display: none;
				}
			}
		}
		.main_slide {
			margin-bottom: 50px;
			#main_slide_left {
				width: 100%;
			}
			#main_slide_right {
				display: none;
			}
		}
		.main_product {
			width: 100%;
			height: 50%;
			opacity: 1;
			margin-bottom: 50px;
			#main_product_best {
				padding: 0px;
				ul {
					flex-wrap: wrap;
					li {
						width: 40%;
						height: 100%;
						a {
							.img_wrap {
								height: 200px;
							}
							.info {
								margin-bottom: 20px;
								p {
									font-size: 13px;
								}
								span {
									font-size: 11px;
								}
							}
						}
					}
				}
			}
		}
		.main_tabmenu {
			opacity: 1;
			height: 65vh;
			margin-bottom: 250px;
			#main_tab_new {
				width: 84%;
				height: 100%;
				#tab_title {
					> ul {
						width: 70%;

						li {
							font-size: 12px;
						}
					}
				}
				> ul {
					width: 84%;
					height: 100%;
					padding: 40px 15px;
					flex-wrap: wrap;
					gap: 10px;
					> li {
						width: 100%;
						height: 25%;
						a {
							display: flex;
							justify-content: space-between;
							width: 100%;
							height: 100%;
							.tab_img {
								width: 50%;
								height: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								img{
									width: 80%;
									height: 100%;
								}
							}
							.tab_text {
								width: 50%;
								height: 100%;
								p {
									font-size: 12px;
								}
								span {
									font-size: 11px;
								}
							}
						}
					}
				}
			}
		}
		.main_contact {
			opacity: 1;
			.main_contact_wrap {
				flex-direction: column;
				#contact_left {
					.contact_left_img {
						width: 100%;
						left: 0px;
					}
					.contact_left_text {
						padding: 0px 30px;
						transform: translate(0px, 0px);
						dd {
							font-size: 20px;
							span {
								font-size: 21px;
							}
							a {
								font-size: 15px;
							}
						}
					}
				}
				#contact_right {
					.contact_right_img {
						width: 100%;
					}
				}
			}
			&.on {
				.main_contact_wrap {
					#contact_left {
						animation: none;
					}
					#contact_right {
						animation: none;
					}
				}
			}
		}
	}
	footer{
		.inner{
			height: 200px;
			padding: 0px 40px;
			.footer_info{
				.footer_info_logo{
					a{
						img{
							width: 20%;
							height: 20%;
						}
					}
				}
				.footer_info_terms{
					p{
						font-size: 10px;
					}
				}
			}
			.footer_sns{
				display: none;
			}
			.footer_text{
				display: none;
			}
		}
	}
}
