#contact {
	width: 100%;
	height: 100%;
	.inner {
		width: 100%;
		height: 100%;
		padding-top: 150px;
		background-color: #2a3923;
		h3 {
			padding-bottom: 60px;
			font: 400 37px/1 'Lora';
			text-align: center;
			color: #ece7e2;
		}
		.contact_pics {
			width: 80%;
			height: 700px;
			margin: 0 auto;
			display: flex;
			padding-bottom: 80px;
			.sub_contact_left {
				width: 70%;
			}
			.sub_contact_right {
				width: 30%;
			}
		}
		.contact_txt {
			text-align: center;
			color: #ece7e2;
			h5 {
				font: 700 20px/1 'Pretendard';
				padding-bottom: 20px;
			}
			.normal {
				font: normal 16px/1 'Lato';
				padding-bottom: 20px;
			}
			.light {
				font: normal 15px/1 'Pretendard';
				padding-bottom: 80px;
			}
		}
		.contact_map {
			width: 100%;
			height: 100%;
			padding-bottom: 100px;
			#map {
				margin: 0 auto;
				width: 1000px;
				height: 500px;
				border: 1px solid #ddd;
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	#contact {
		.inner {
			h3 {
				font-size: 30px;
				padding-bottom: 50px;
			}
			.contact_pics {
				height: 30vh;
				padding-bottom: 50px;
				.sub_contact_left {
					width: 100%;
				}
				.sub_contact_right {
					display: none;
				}
			}
			.contact_txt {
				.bold {
					font-size: 17px;
				}
				.normal {
					font-size: 12px;
				}
				.light {
					font-size: 11px;
					padding-bottom: 50px;
				}
			}
			.contact_map {
				padding-bottom: 70px;
				#map {
					width: 80%;
					height: 30vh;
				}
			}
		}
	}
}
