#notice {
	width: 100%;
	height: 90vh;
	#popup {
		display: none;
		width: 1000px;
		min-height: 400px;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #f8f8f8;
		padding: 30px;
		z-index: 5;
		border: 1px solid #ddd;
		border-radius: 5px;
		h4 {
			font: bold 20px/1 'Pretendard';
			text-align: center;
			padding-bottom: 30px;
			color: #000;
		}
		p {
			text-align: center;
			font: normal 16px/1.5 'Pretendard';
		}
		#close {
			display: block;
			cursor: pointer;
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
			width: 95%;
			height: 35px;
			border: 1px solid #ddd;
			background-color: #ece7e2;
			border-radius: 5px;
			font: bold 15px/35px 'Lato';
			color: #2a3923;
		}
	}
	.inner {
		width: 1000px;
		margin: 0 auto;
		height: 100%;
		padding: 150px 0px 200px;
		h3 {
			padding-bottom: 60px;
			font: 500 37px/1 'Lora';
			text-align: center;
			color: #2a3923;
		}
		.notice_board {
			border-collapse: collapse;
			width: 100%;
			border: 1px solid #ddd;
			thead {
				tr {
					background-color: #ece7e2;
					border-bottom: 1px solid #ddd;
					th {
						text-align: center;
						padding: 15px 0px;
						color: #000;
						font: bold 16px/1 'Pretendard';
					}
					#num {
						width: 8%;
					}
					#title {
						width: 80%;
					}
					#date {
						width: 12%;
					}
				}
			}
			tbody {
				tr {
					border-bottom: 1px solid #ddd;
					td {
						text-align: center;
						padding: 15px 0px;
						color: #000;
						font: normal 15px/1 'Lato';
						cursor: pointer;
						a {
							color: #000;
							font: normal 15px/1 'Pretendard';
							display: block;
							width: 100%;
						}
					}
					&:hover {
						td {
							background-color: #f8f8f8;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	#notice {
		#popup {
			width: 85%;
			min-height: 350px;
			padding: 20px;
			top: 57%;
			h4 {
				font-size: 18px;
			}
			p {
				font: normal 13px/1.8 'Pretendard';
			}
		}
		.inner {
			width: 80%;
			padding: 150px 0px;
			h3 {
				padding-bottom: 50px;
				font-size: 30px;
			}
			.notice_board {
				thead {
					tr {
						th {
							padding: 15px 10px;
							font-size: 12px;
						}
						#num {
							width: 15%;
						}
						#title {
							width: 65%;
						}
						#date {
							width: 20%;
						}
					}
				}
				tbody {
					tr {
						td {
							padding: 15px 10px;
							font-size: 12px;
							a {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}
