#review {
	width: 100%;
	height: 100%;
	.inner {
		width: 100%;
		height: 100%;
		padding-top: 150px;
		h3 {
			padding-bottom: 60px;
			font: 400 37px/1 'Lora';
			text-align: center;
			color: #2a3923;
		}
		.review_list {
			width: 1460px;
			margin: 0 auto;
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			padding-bottom: 100px;
			> div {
				width: 350px;
				height: 350px;
				border: 1px solid #ddd;
				a {
					display: block;
					width: 100%;
					height: 60%;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.con {
					width: 100%;
					height: 40%;
					padding: 15px;
					position: relative;
					overflow: hidden;
					h4 {
						font: bold 15px/1.2 'Pretendard';
						color: #000;
						padding-bottom: 10px;
					}
					p {
						font: 13px/1.5 'Pretendard';
						color: #333;
						padding-bottom: 10px;
					}
					span {
						position: absolute;
						left: 15px;
						bottom: 15px;
						font: 12px/1 'Lato';
						color: #333;
					}
				}
			}
			.review_pop {
				width: 100%;
				height: 100vh;
				position: fixed;
				top: 0px;
				left: 0px;
				padding: 15vh 15vw;
				background-color: rgba(0, 0, 0, 0.7);
				z-index: 11;
				.btnClose {
					position: absolute;
					top: 70px;
					right: 70px;
					color: #f8f8f8;
					font: 500 20px/1 'Lora';
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	#review {
		.inner {
			h3 {
				padding-bottom: 50px;
				font-size: 30px;
			}
			.review_list {
				width: 80%;
				gap: 40px;
				> div {
					width: 100%;
				}
				.review_pop {
					padding: 30vh 10vw;
					.btnClose {
						font-size: 17px;
					}
				}
			}
		}
	}
}
